<!-- Comments Form -->
<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
        {% if article %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="POST" action="{% url 'articles:comment' article.id %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.comment }}
                    {% if form.errors.comment %}
                         {{ form.error.comment }}
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {% endif %}
    </div>
</div>